{{> top title="Basic"}}

	<div class="testElement"></div>

	<script>

		var Foo = $.kist.view.extend({
			el: 'html',
			childrenEl: {
				'body': 'body'
			},
			events: {
				'click .testElement': 'testClick'
			},
			init: function ( options ) {
				console.log('Initialized.');
				this.setOptions(options);
				console.log(this.options);
			},
			testClick: function () {
				console.log('.testElement clicked!');
			}
		});

		var foo = new Foo();

		console.info(Foo);
		console.log(foo);

	</script>

{{> bottom}}
