{{> top title="Custom element"}}

	<script>

		var Foo = $.kist.segment.extend({
			el: function () {
				return '<div class="customElement"><div class="testElement"></div></div>';
			},
			childrenEl: {
				'testElement': '.testElement'
			},
			events: {
				'click .testElement': 'testClick',
				'mouseenter .testElement': function () {
					console.info(arguments);
					this.$el.addClass('classAdded');
					console.info(this.$el);
				}
			},
			render: function () {
				this.$el.prependTo('body');
			},
			init: function ( options ) {
				console.log('Initialized.');
				this.setOptions(options);
				console.log(this.options);
				this.render();
			},
			testClick: function () {
				console.log('.testElement clicked!');
			}
		});

		var foo = new Foo();

		console.info(Foo);
		console.log(foo);

	</script>

{{> bottom}}
