{{> top title="Extend options"}}

	<div class="testElement"></div>

	<script>

		var Foo = $.kist.segment.extend({
			el: 'html',
			childrenEl: {
				'body': 'body',
				'children': function () {
					return this.$el.children();
				}
			},
			events: {
				'click .testElement': 'testClick'
			},
			init: function ( options ) {
				console.log('Initialized.');
				this.setOptions(options);
				console.log(this.options);
			},
			testClick: function () {
				console.log('.testElement clicked!');
			},
			testClickAlt: function () {
				console.log('.testElement hovered, alt!');
			}
		});

		var foo = new Foo({
			el: 'body',
			childrenEl: $.extend({}, Foo.prototype.childrenEl, {
				'div': 'div'
			}),
			events: {
				'mouseenter .testElement': 'testClick',
				'mouseleave .testElement': 'testClick',
				'click .testElement': 'testClick',
				'mouseenter|mouseleave|click .testElement': 'testClickAlt'
			},
			foo: 1,
			bar: 2,
			baz: 3
		});

		console.info(Foo);
		console.log(foo);

	</script>

{{> bottom}}
