{{> top title="Extend view"}}

	<div class="testElement"></div>

	<script>

		var Foo = $.kist.view.extend({
			el: 'html',
			childrenEl: {
				'body': 'body',
				'foo': 'bar'
			},
			events: {
				'click .testElement': 'testClick'
			},
			init: function ( options ) {
				console.log('Initialized.');
				this.setOptions(options);
				console.log(this.options);
			},
			testClick: function () {
				console.log('.testElement clicked!');
			}
		});

		var Bar = Foo.extend({
			el: 'body',
			childrenEl: $.extend({}, Foo.prototype.childrenEl, {
				'div': 'div'
			}),
			testClick: function () {
				Bar._super.testClick.call(this);
				console.log('.testElement clicked, with overriden method on `Bar`.');
			}
		});

		foo = new Foo();
		bar = new Bar();

		console.info(Foo);
		console.log(foo);
		console.log('---');
		console.info(Bar);
		console.log(bar);

	</script>

{{> bottom}}
